@import "./variables.scss", "./reset.scss";

.header {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: background 0.3s;

  .nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav__logo,
    .nav__toggle {
      color: var(--title-color);
      display: flex;
    }

    .nav__toggle {
      font-size: 1.25rem;
      cursor: pointer;
    }
  }

  .nav__logo {
    align-items: center;
    column-gap: 0.5rem;
    font-weight: var(--font-bold);

    img {
      width: 1.25rem;
    }
  }

  .nav__list {
    padding: 5rem 0 0 3rem;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;

    .nav__link {
      color: var(--title-color);
      transition: color 0.3s;

      &:hover {
        color: var(--green-300);
      }
    }
  }

  .nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
  }

  .show-menu {
    right: 0;
  }
}

@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    background-color: hsla(180, 12%, 8%, 0.8);
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
    top: 0;
    right: -100%;
    width: 80%;
    height: 100%;
    border-left: 2px solid var(--gray);
    transition: right 0.3s;
  }
}
