@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    background-color: hsla(180, 12%, 8%, 0.8);
    top: 0;
    right: -100%;
    width: 80%;
    height: 100%;
    border-left: 2px solid var(--gray);
    transition: right 0.3s;

    .backdrop-filter {
      position: absolute;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(30px);
      -webkit-backdrop-filter: blur(30px);
    }

    .nav__list {
      position: relative;
    }
  }
}

@media screen and (max-width: 340px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;

    .section__titles {
      flex-direction: column;
    }
  }

  .home {
    .home__triangle {
      height: 255px;

      &-3 {
        width: 260px;
      }
    }
  }

  .choose {
    .choose__images {
      .choose__triangle {
        height: 255px;

        &-1 {
          width: 260px;
        }
      }

      .choose__img {
        width: 195px;
      }
    }
  }

  .pricing {
    .pricing__container {
      grid-template-columns: 250px;

      .pricing__card {
        padding: 1.5rem;
      }
    }
  }

  .footer {
    .footer__content {
      grid-template-columns: 1fr;
      text-align: center;
    }
  }
}

@media screen and (min-width: 768px) {
  .nav {
    .nav__menu {
      width: 50%;
    }
  }

  .home__container,
  .choose__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .home .home__data,
  .choose__content .section__data,
  .choose .choose__content .choose__description,
  .calculate .calculate__content .calculate__description {
    text-align: initial;
  }

  .logos {
    .logos__container {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .program {
    .program__container {
      grid-template-columns: repeat(2, 225px);
      gap: 2.5rem;
    }
  }

  .choose {
    .choose__content {
      order: 1;
    }

    .choose__data {
      justify-items: flex-start;
    }
  }

  .choose .choose__content .section__titles,
  .calculate .calculate__content .section__titles {
    justify-content: initial;
  }

  .pricing {
    .pricing__container {
      grid-template-columns: repeat(2, 285px);
    }
  }

  .calculate {
    .calculate__container {
      grid-template-columns: 1fr 0.8fr;
      align-items: center;
    }

    .calculate__form {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1.5rem;

      .calculate__box {
        .calculate__label {
          top: 1.2rem;
        }
      }
    }

    .calculate__form .button {
      grid-column: 1 / 3;
    }

    .calculate__img {
      width: 195px;
      margin-left: 4rem;
    }
  }

  .footer {
    .footer__container {
      grid-template-columns: repeat(2, max-content);
      justify-content: space-between;
    }

    .footer__content {
      grid-template-columns: repeat(3, max-content);
    }
  }
}

@media screen and (min-width: 1023px) {
  .header {
    .nav {
      height: calc(var(--header-height) + 2rem);

      .nav__menu {
        width: initial;

        .nav__list {
          flex-direction: row;
          padding: 0;
          align-items: center;
          column-gap: 4rem;
        }
      }

      .nav__toggle,
      .nav__close {
        display: none;
      }
    }
  }

  .section {
    padding: 7rem 0 0;
  }

  .container {
    .section__subtitle {
      font-size: 2rem;
    }

    .section__titles {
      font-size: 2rem;
    }
  }

  .home {
    .home__container {
      grid-template-columns: repeat(2, max-content);
      align-items: initial;

      .home__title {
        margin: 0.75rem 0 1.25rem;
      }

      .home__description {
        width: 445px;
        margin-bottom: 3rem;
      }

      .home__images {
        .home__img {
          width: 550px;
          transform: translateY(-6rem);
        }

        .home__triangle {
          height: 700px;

          &-1 {
            width: 145px;
          }

          &-2 {
            width: 345px;
          }

          &-3 {
            width: 545px;
          }
        }
      }
    }
  }

  .logos {
    padding: 3.5rem 0 1rem;

    .logos__container {
      .logos__img {
        width: 190px;
      }
    }
  }

  .choose {
    .choose__overflow {
      overflow: hidden;
    }

    .choose__images {
      .choose__img {
        width: 350px;
      }

      .choose__triangle {
        height: 700px;

        &-1 {
          width: 545px;
        }

        &-2 {
          width: 345px;
        }

        &-3 {
          width: 145px;
        }
      }
    }
  }

  .footer {
    padding-bottom: 3rem;

    .footer__container {
      .footer__form {
        flex-direction: row;
      }

      .footer__content {
        column-gap: 5rem;
      }
    }

    .footer__group {
      grid-template-columns: repeat(2, max-content);
      justify-content: space-between;
      margin-top: 7rem;

      .footer__social {
        order: 1;
      }
    }
  }
}

@media screen and (min-width: 1150px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .home {
    .home__container {
      .home__data {
        padding-top: 1rem;
      }

      .home__images {
        transform: translateX(-9rem);
        .home__triangle {
          height: 995px;

          &-1 {
            width: 205;
          }

          &-2 {
            width: 505;
          }

          &-3 {
            width: 705;
          }
        }

        .home__img {
          width: 700px;
          transform: translateX(2rem);
        }
      }
    }
  }

  .program {
    .program__container {
      grid-template-columns: repeat(4, 245px);
      padding: 3rem 0;
    }

    .program__card {
      padding: 2rem;

      .program__description {
        font-size: var(--text-base);
      }
    }
  }

  .choose {
    .choose__container {
      column-gap: 8rem;

      .choose__images {
        position: relative;

        .choose__img {
          width: 450px;
          margin: 0 0 0 auto;
        }

        .choose__triangle {
          height: 800px;
        }
      }

      .choose__content {
        .choose__data {
          grid-template-columns: repeat(2, max-content);
          gap: 2.5rem 8rem;
        }

        .choose__description {
          width: 418px;
          margin-bottom: 3.5rem;
        }
      }
    }
  }

  .pricing {
    .pricing__container {
      padding-top: 3rem;
      grid-template-columns: repeat(3, 320px);

      .pricing__card {
        padding: 3rem 3.5rem;
        row-gap: 2.5rem;
      }
    }
  }

  .calculate {
    .calculate__content {
      .calculate__description {
        width: 415px;
      }

      .calculate__form {
        width: 505px;
      }
    }

    .calculate__img {
      width: 300px;
    }
  }

  .scrollup {
    right: 3rem;

    &.show-scroll {
      bottom: 8rem;
    }
  }
}
